
/*header*/
.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}

.container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

/*.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}*/

.fullscreen-video-wrap iframe{
  min-height:100%;
  min-width:100%;
}

.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:99vw;
  z-index:1;
  background:#225470;
  opacity:0.85;
}

.header-content{
  z-index:2;
  display: block;
  margin: auto;
}

.header-content h1{
  font-size:100px;
  margin-bottom:30px;
}

.header-content p{
  font-size:40px;
  display:block;
  padding-bottom:1rem;
}

.btn{
  background: #007bff;
  color:#fff;
  font-size:1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.btn:hover/*,
.btn:focus*/{
  background: #0f37ff;
  color:#007bff;
  transition: background 2s, color 2s;
}


.section{
  padding:20px 0;
}

.section-b{
  background:#333;
  color:#fff;
}

@media(max-width:960px){
  .container{
    padding-right:3rem;
    padding-left:3rem;
  }
}

.line{
  position: relative;
  top: 50%;
  width: 12em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;transform:translateY(-20%);
}

.anim-typewriter{
  animation: typewriter 4s steps(40) 1s 1 normal both,
  blinkTextCursor 500ms steps(40) infinite normal;
}

.animbold{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 45px;
}

@keyframes typewriter{
  from {
    width: 0;
  }
  to {
    width: 12em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* End of header*/
a.navbar-brand.scroll {
    color: white;
  text-shadow: 1.5px 1.5px rgba(105, 240, 255, 0.7);
}

a.navbar-brand {
  font-size: 30px;
  letter-spacing: 2px;
}

a {
  font-size: 20px;
}

#page-top > nav {
  color: #000000;
}

nav {
  font-size: 500px;
}

nav.shrink {
  background-color: #1f66f4;
  transition: background-color 1s, color 1s;
}


.navbar-light .navbar-nav .nav-link {
  /*text-align: right;*/
  color: rgb(251, 252, 253);
}

/*Navbar css styling  animated scrolling/ add and remove class active */
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: rgba(105, 240, 255, 0.7);
  transition: color 1s, background-color 1s;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show{
  color: rgba(105, 240, 255, 0.7);
}
/*End of animated scrolling/ add and remove class active */

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    /*color: #021372;*/
    color: #1f66f4;
}

#about p {
  /*color: #021372;*/
  font-size: 14px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#about img {
  margin: 20px;
  height: 260px;
  box-shadow: 7px 7px 4px #888888;
}

#about {
  padding-top: 60px;
  padding-bottom: 60px;
}

#quotespage {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 5em;
  background-color: #f4f4f4;
  text-align: center;
}

#quotespage section{
  width:100%;
}

blockquote{
  margin: 3em;
  text-align: left;
}

#portfolio {
  padding: 20px;
}

#portfolio .col-md-4{
    margin: 40px 0 40px 0;
}

#portfolio img{
  height: 200px;
  width: 300px;
  box-shadow: 7px 7px 4px #888888;
}

#portfolio a{
  text-decoration: none;
}

#portfolio a div{
  text-decoration: none;
  box-shadow: 7px 7px 4px #888888;
}

#portfolio a img:hover {
    opacity: 0.70;
    filter: alpha(opacity=40);
    transition: opacity 2s, filter 2s;
}

#portfolio a div:hover {
    background-color: #021372;
    transition: background-color 2s, color 2s;
}



#graffiti div.jumbotron {
    background: url(../images/graffiti.jpg) no-repeat center top;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    height: 300px;
}


.desc {
  width: 300px;
  text-align: center;
  color: #ffffff;
  background-color: #1f66f4;
  border-color: #cccccc;
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0;
  position: relative;
  top: -40px;
  padding: 20px 0 20px 0;

}


#contact  {
    background: url(../images/desk.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
}


form {
  margin:20px;
}

input[type=text] {
  width: 100%;
    padding: 12px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    box-shadow: 4px 4px 2px #888888;
}

input[type=text]:focus {
    border: 2.5px solid #021372;
    transition: border 1s;
}

textarea {
  font-size: 16px;
  width:100%;
  height: 250px;
  padding: 12px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    box-shadow: 4px 4px 2px #888888;
}

textarea:focus {
  border: 2.5px solid #021372;
    transition: border 1s;
}

label {
  font-size: 18px;
    position: relative;
    top: 5px;
    color: #021372;
}

input[type=submit] {
    background-color: #021372;
    border: none;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 15px 2px 50px 2px;
    cursor: pointer;
    box-shadow: 4px 4px 2px #888888;
}

input[type=submit]:hover {
    background-color: #1f66f4;
    color: #ffffff;
    transition: background-color 1s, color 1s;
}

#connect div.jumbotron {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
/*  fixed=parallax
  scroll=normal*/
    background-attachment: fixed;
    background-image:url('../images/centralpark.jpg');
    background-size: cover;
    height: 250px;
    text-align: left;
    margin-bottom: 0;
    padding-top: 50px
}

#connect .jumbotron .container h2{
  font-size: 28px;
  color: #ffffff;
}

#connect .jumbotron .container p{
  font-size: 20px;
  color: #ffffff;
}

#connect .jumbotron .container a{
  box-shadow: 4px 4px 2px #101010;

}

#office div.jumbotron {
    background-image:url('../images/office.jpg');
    background-repeat: no-repeat;
    background-position: center 270px;
    background-size: cover;
    height: 280px;
    text-align: left;
    margin-bottom: 0;
    padding-top: 50px;
    background-attachment: fixed;
}

/*#office div.jumbotron {
    background: url(../images/office.jpg) no-repeat;
    background-position: background-position: 50% 50%; ;
    background-size: cover;
    height: 250px;
    text-align: left;
    margin-bottom: 0;
    padding-top: 50px;
    background-attachment: fixed;
}*/


#office .jumbotron .container h2{
  font-size: 20px;
  margin-top: 35px;
  padding: 10px;
  font-weight: bold; 
  color: #ffffff;
}

#office .jumbotron .container a{
  /*box-shadow: 4px 4px 2px #101010;*/

}

.footer { 
  background: #000000;
  height: 80px;
}


.footer p {
  color: #FFFFFF;
  font-size: 14px;
  height: 80px;
  line-height: 80px;
  margin: 0;
}

/*updated composer json and composer lock*/
a.navbar-brand.scroll:focus {
  color:white;
}a.navbar-brand.scroll:hover {
  color:lightblue;
}